<h1>QUOTES</h1>
<hr>
<div class="container">
  <div class="row" *ngFor="let quote of quotes;let i = 'index'">
      <div class="row">

      </div>
<ul>
        <li id="{{i}}" appStrikethrough>{{quote.name}}</li>
        <li  id="{{i}}" appStrikethrough>{{quote.name}} due on {{quote.completeDate|date|uppercase}}</li>
        <button class="btn-primary" (click)='toogleDetails(i)'>Toogle Details</button>


        <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)= 'deleteQuote($event,i)'></app-quote-details>

</ul>
      </div>
      <app-quote-form (addQuote)= 'addNewQuote($event)' ></app-quote-form>
  </div>
