
<hr>
<!-- <div class="container"> -->
  <h1>QUOTES</h1>
  <div class="row" *ngFor="let quote of quotes;let i = 'index'">
      <div class="row">

      </div>
<ul>

        <li  id="{{i}}" appStrikethrough>{{quote.name}} posted on <b>{{quote.completeDate|date|uppercase}}</b></li>
        <button class="btn-primary" (click)='toogleDetails(i)'>Toogle Details</button>
        &nbsp;
        <button (click)='upvote(i)' class="btn btn-success">Upvote {{quote.upvotes}}</button>
        &nbsp;
        <button (click)='downvote(i)' class="btn btn-warning">Downvote {{quote.downvotes}}</button>


        <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)= 'deleteQuote($event,i)'></app-quote-details>

</ul>
      </div>
      <app-quote-form (addQuote)= 'addNewQuote($event)' ></app-quote-form>
  <!-- </div> -->
